.finddoctor-container {
    text-align: center;
    padding: 1rem 0;
}

.finddoctor-search-box {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.search-doctor-input-box {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}